CentralLogin.sln
.vs/CentralLogin/v15/.suo
.vs/CentralLogin/v15/Server/sqlite3/db.lock
.vs/CentralLogin/v15/Server/sqlite3/storage.ide
.vs/CentralLogin/v15/Server/sqlite3/storage.ide-shm
.vs/CentralLogin/v15/Server/sqlite3/storage.ide-wal
/CentralLogin/.vs
/CentralLogin/obj
/CentralLogin/obj
